section.vid video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.vid {
  height: 3000px;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

section.vid::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

section.vid div.holder {
  position: sticky;
  top: 0;
}

.miau{
  background-color: var(--background);
}

.loading-text{
  color: var(--tedxred);
}
