.profile-name {
    font-family: 'Cirka' !important;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .profile-role {
    font-family: 'Gilroy-Light' !important;
    font-size: 12px;
  }
  