
.reasons-image {
  opacity: 0.15;  /* Use a valid opacity value (0 to 1) */
  transition: opacity 1s ease, filter 1s ease; /* Smooth transition */
}

.group:hover .reasons-image {
  opacity: 0.5;  /* Increase opacity on hover */
  filter: grayscale(0); /* Remove grayscale on hover */
}

.container-reasons-title {
  height: 160px;
  width: 60%;
  background: #161616;
  border-radius: 50px;
  border: 1px solid #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reasons-title {
  font-family: var(--textfont);
  color: var(--text);
  font-size: 114px;
  line-height: 1.4;
  
  letter-spacing: 0.1rem;
}

@media (max-width: 768px) {
  .container-reasons-title {
    width: 80%;
  }
  .reasons-title {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 1280px) {
  .reasons-title {
    font-size: 4rem;
  }
}

.container-reasons-card {
  height: 360px;  
  width: 360px;  
}

.reasons-card-title {
  font-family: var(--titlefont);
  color: var(--text);
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.reasons-card-description {
  width: 70%;
  font-family: var(--textGilroyR);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 0;
}


@media (min-width: 1220px) {
  .reasons-title {
    font-size: 3rem;
  }
  .reasons-card-title {
    font-size: 2rem;
  }
  .reasons-card-description {
    font-size: 0rem;
  }
}
@media (max-width: 768px){
  .container-reasons-title {
    height: 80px;  /* Example: Adjust width for this resolution */
  }
  .reasons-card-title {
    font-size: 1.5rem;
  }
  .reasons-card-description {
    font-size: 0.8rem;
  }
  .container-reasons-card {
    height: 290px;  
    width: 290px;
  }
}
