.sponsors-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 20px 0;
  }
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .sponsors-wrapper {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .sponsors-marquee {
    display: flex;
    gap: 2rem; /* Space between logos */
    animation: marquee 5s linear infinite;
    width: max-content;
  }
  
  
  .sponsor-logo {
    width: 180px;
    height: 180px;
    object-fit: contain;
    filter: grayscale(100%); /* Make logos black & white */
    transition: filter 0.3s ease-in-out;

  }
  
  .sponsor-logo:hover {
    filter: grayscale(0%); /* Restore color on hover */
  }
  

  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .sponsor-logo {
      width: 130px;
      height: 130px;
    }
  
    .sponsors-marquee {
      animation: marquee 20s linear infinite; /* Slow on mobile too */
    }
  }
  