.theme-text{
   
    font-family: Gilroy-Regular;
    font-size:1.3rem;
    line-height: 140%;
    font-weight: 100;
    letter-spacing: 1.024px;
}




.theme-text-quotation {
  content: url("/images/text-quotation.png");  
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}


.moded-text{
  justify-items: center;
  text-align: justify !important;
}