@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cirka";
  src: url("/fonts/PPCirka-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "OverpassMono";
  src: url("/fonts/OverpassMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
:root {

  --background: #161616;
  --text: #eae9e9;
  --textred: hsl(9, 71%, 44%);
  --tedxred: #eb0028;
  --textabout: "#200409";
  --titlefont: "OverpassMono";
  --headerfonr: "Gilroy";
  --textfont: "Cirka";
  --textGilroyR: "Gilroy-Regular";
  --textGilroyM: "Gilroy-Medium";
}
body {
  background-color: #1b1b1b;
  color: var(--text);
  font-weight: 400;
}

html{
  scroll-behavior: smooth;
}


.theme-text {
  font-family: Gilroy-Regular;
  font-weight: 400;
  size: 25.6px;
}

.theme-image {
  margin-top: 4px;
}
button {
  background-color: transparent;
}

.page-container {
  position: relative;
  margin-right: 80px;
  margin-left: 80px;

}

.Team-section{
  padding-top: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.student-ticket{
  background-color: #1b1b1b !;
}


/* Add more spacing on smaller screens */
@media (max-width: 768px) {
  .theme-section {
    margin-bottom: 10rem; /* More space on mobile */
  }

  .about-section {
    margin-bottom: 10rem; 
  }
  .reasons-section{
    margin-bottom: 10rem;
  }

.page-container {
  position: relative;
  margin-right: 00px;
  margin-left: 00px;
}
.sponsor-section{
  margin-top: 10rem;
}
.ticket-sections{
  margin-bottom: -3rem;
}
.Team-section{
  padding-top: 4rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

}

.theme-section {
  margin-bottom: 4rem; /* More space on mobile */
}

.theme-section {
  margin-bottom: 1rem; /* More space on mobile */
}

.about-section {
  margin-bottom: 6rem; 
}
.reasons-section{
  margin-bottom: 5rem;
}

.sponsor-section{
margin-top: 10rem;
}
.ticket-sections{
  margin-bottom: 15rem;
}

@media (max-width: 768px) {

  .ticket-sections{
    margin-bottom: 7rem;
  }
  .speaker-section{
    margin-bottom: 5rem;
  }
}